.container {
    padding: 12px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

img {
    padding: 5px;
    width: 100%;
    height: 150px;
    object-fit: contain;
}